<div>
  <div class="h-screen flex">
    <!-- Lado Izquierdo -->
    <div class="w-[14%] md:w-[8%] lg:w-[16%] xl:w-[14%] bg-[#ffffff] p-4">
      <a [href]="" class="flex items-center justify-center lg:justify-start gap-2">
        <img src="../assets/Logo.png" alt="Logo de la empresa" width="32" height="32" />
        <span class="hidden lg:block">Skilling</span>
      </a>
      <app-menu />
    </div>

    <!-- Lado Derecho -->
    <div class="w-[86%] md:w-[92%] lg:w-[84%] xl:w-[86%] bg-[#F7F8FA] overflow-scroll">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
