<!-- Se mostrará el Login si y solo si la página es login -->
<ng-container *ngIf="isLoginPage; else isErrorPage">
  <router-outlet></router-outlet>
</ng-container>

<!-- Se desea mostrar el Dashboard si y solo si la ágina es diferente de un Login -->
<ng-template #mainLayout>
  <ng-container *ngIf="isDashboardPage; else isErrorPage">
  </ng-container>
</ng-template>
<!-- Error de Página no encontrada -->
<ng-template #isErrorPage>
  <div class="error-page">
    <h1>Error 404</h1>
    <p>Página no encontrada.</p>
  </div>
</ng-template>
