@forward '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */
@forward "tailwindcss";
@forward "primeicons/primeicons.css";

:root {
  --skillingWhiteLight: #F9F9F9;
  --skillingGray: #727272;
  --skillingWhite: #FFFFFF;
  --skillingBlack: #000000;
  --skillingWhiteGray: #F2F2F2;
  --skillingBlackGray: #AFAFAF;
  --skillingBlue: #4976F4;
  --skillingDarkBlue: #211C37;
  --skillingDarkGray: #85878D;
  --skillingGrayLight: #E7EAE9;
  --skillingGrayLightWhite: #E4E4E4;
  --skillingGrayLightSky: #F0FEED;
  --skillingGreenDark: #259800;
  --skillingGrayDarkSky: #B6B6B6;
  --skillingWhiteGrayLight: #EDF5FE;
  --skillingBlueGeneral: #3083FF;
  --skillingYellowLightSkin: #FEEDED;
  --skillingRedOrange: #DC2626;
  --skillingGrayLightGeneral: #E8E8E8;
  --skillingGrayDarkGeneral: #D8D8D8;
  --skillingOrangeBrand: #FF4B00;
  --skillingDarkOrange: #D34645;
  --skillingGrayGeneralLite: #D9D9D9;
  --skillingDarkBlackGeneral: #060606;
  --skillingSky: #C3EBFA;
  --skillingSkyLight: #EDF9FD;
  --skillingPurple: #CFCEFF;
  --skillingPurpleLight: #F1F0FF;
  --skillingYellow: #FAE27C;
  --skillingYellowLight: #FEFCE8;
  --skillingBoy: #4BC0C0;
  --skillingGirl: #FF6384;
}
